
.top{
  width: 100%;
  height: 100px;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  background: #f3f5f9;
}
  // ~/test/testProject/pc-template/src/views/exercise
  // ~/test/testProject/pc-template/src/views/exercise/a.styl